<footer>
    <a href="mailto:bk0851+info@outlook.com">Email</a>
    <a href="https://linkedin.com/in/aprilkidd" target="_blank">LinkedIn</a>
    <a href="https://github.com/april-webm" target="_blank">GitHub</a>
    <a href="https://inferenc.me" target="_blank">inferenc.me</a>
    <p>&copy; 2026 April Kidd</p>
</footer>