<header>
    <h1>April Kidd</h1>
    <p>Undergraduate in Pure Mathematics and Computer Science</p>
</header>

<nav>
    <a href="/">Home</a>
    <a href="/about.html">About</a>
    <a href="/socials.html">Socials</a>
    <a href="/blog.html">Blog</a>
</nav>